body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Clock{
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: solid 5px rgb(255,0,0);
}

#second-hand{
    width:2px;
    height:130px;
    background-color:rgb(0,255,0);
    position: absolute;
    left: 150px;
    bottom: 149px;
    opacity: 50%;

    transform-origin: 0 100%;
}

#minute-hand{
    width:2px;
    height:100px;
    background-color: rgb(243, 174, 73);
    position: absolute;
    left: 149px;
    bottom: 149px;
    opacity: 50%;

    transform-origin: 0 100%;

}

#hour-hand{
    width:2px;
    height:80px;
    background-color: rgb(208, 66, 230);
    position: absolute;
    left: 148px;
    bottom: 148px;
    opacity: 50%;

    transform-origin: 0 100%;

}

#center{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(252, 255, 55);
    position: absolute;
    left: 145px;
    bottom: 145px;

    transform-origin: 0 100%;

}
